* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  padding: 0.8rem;
  vertical-align: middle;
  background-color: antiquewhite;
  font-weight: bold;
}
.nav-list {
  margin: 0;
  padding: 0;
  width: calc(100% - 55px);
  text-align: center;
}
.nav-list li,
.logo,
.nav-list {
  display: inline-block;
}
.nav-list li {
  margin-left: 3rem;
  margin-right: 3rem;
}
.logo {
  margin-left: 7px;
}
.logo img {
  max-width: 42px;
  vertical-align: middle;
}
.container {
  height: 600px;
  background: url("./images/image1.jpg");
  background-size: cover;
  background-position: center;
}
.section-plans {
  margin-top: 1rem;
}
.plans {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.plan {
  display: inline-block;
  margin-left: -0.15rem;
  margin-right: -0.15rem;
  padding: 1rem;
  background-color: antiquewhite;
  width: 28%;
  vertical-align: top;
  min-height: 20.6rem;
  box-shadow: 2px 2px 4px 0px;
}
.plan ul {
  list-style: none;
  padding: 0;
}
.plan li {
  padding: 0.25rem;
}
.plan-title {
  text-align: center;
  font-weight: bold;
}
.highlighted-plan {
  background-color: #a75502;
  color: white;
  min-height: 22.3rem;
  z-index: 10;
  position: relative;
  box-shadow: 2px 2px 4px 0px rgb(0, 0, 0);
}
.highlighted-plan .badge {
  border: 2px solid black;
  padding: 0.7rem;
  margin-bottom: 0;
  color: black;
  background-color: antiquewhite;
  border-radius: 12px;
  display: inline-block;
}
.footer {
  background-color: black;
  color: white;
  padding: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.footer span {
  margin: 1.5rem;
}
